# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# NPM
node_modules/
package-lock.json

# Files create by Create-assets
models/
lambda/custom/info

# Do not preserve private config file
config.js
