# NPM
node_modules/
package-lock.json

# Files create by Create-assets
models/


# Do not preserve private config file
config.js
.ask/config
lambda/custom/info/album.js
lambda/custom/info/artist.js
lambda/custom/info/genre.js
lambda/custom/info/playlist.js
lambda/custom/info/title.js

config
